* {
    margin: 0;
    padding: 0;
}

.body {
    font-size: 16px;
}

.wrap {
    width: 100%;
    min-width: 1200px;
}

#content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    letter-spacing: 1px;
    position: relative;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 5px;
    text-align: center;
}

.half {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.col-1 {
    width: 10%;
    box-sizing: border-box;
    display: inline-block;
}

.col-2 {
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
}

.col-8 {
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
}

.col-9 {
    width: 90%;
    box-sizing: border-box;
    display: inline-block;
}

.col-10 {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pl5 {
    box-sizing: border-box;
    padding-left: 5px;
}

.line-height2 {
    line-height: 2;
}

.margin30 {
    margin: 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #2f2f2f;
    /* border-cellspacing: "0";
    border-cellpadding: "0"; */
}

table tr {
    overflow: hidden;
    padding: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #2f2f2f;
    /* border-bottom-width: 0.5px;
    border-top-width: 0.5px; */
    /* border-cellspacing: "0";
    border-cellpadding: "0"; */
}
table tr:last-of-type{
    border: none;
}

th, td {
    padding: 0;
    text-align: left;
    overflow: hidden;
    /* border-cellspacing: "0";
    border-cellpadding: "0"; */
}

th {
    text-indent: 10px;
}

.indent40 {
    text-indent: 40px;
}

.border-top-00 {
    border-top: 1px solid #2f2f2f;
}

.border-right-00 {
    border-right: 1px solid #2f2f2f;
}

.text-right {
    text-align: right;
}

.font-size20 {
    font-size: 26px;
}

.font-size10 {
    font-size: 9px;
}

.line-height1 {
    line-height: 1;
}

.font-size11 {
    font-size: 14px;
}

.font-size12 {
    font-size: 16px;
}

.font-size14 {
    font-size: 18px;
}

.font-size16 {
    font-size: 21px;
}

.error {
    text-indent: 60px;
}

.error-children {
    text-indent: 90px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.fixed{
    position: fixed;
}

.right-top {
    right: 0;
    top: 0;
}

.printBtn {
    background: #35cf91 !important;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    word-break: normal;
    min-width: 80px;

}

.noWeigth {
    font-weight: 500;
}

.img {
    display: inline-block;
    margin-left: 20px;
    width: 187px;
    /* boeder: 1px solid #dedede; */
}

.paddingV30 {
    padding: 18px 0px;
}

.ti20 {
    margin-left: 20px;
    text-indent: 0px;
    display: inline-block;
    float: left;
    width: auto;

}

.marginBottom100 {
    margin: 50px 0px 100px;
}

.nowrap2 {
    width: 70%;
}