* {
	margin: 0;
	padding: 0;
	font-family: "SimSun" !important;
}

input {
	border: none;
	outline: none;
}

.ib {
	display: inline-block;
}
b{
	font-size: 34px;
}
.left {
	float: left;
}

.right {
	float: right;
}

.none {
	float: none;
	clear: both;
}

.tl {
	text-align: left;
}

.p19_0 {
	padding: 19px 0px;
}
.i2{
	text-indent: 60px;
}

.allWrap {
	width: 1200px;
	margin: 0 auto;
	background: #fff666;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	padding: 135px 182px 150px;
	line-height: 1.5;
	font-size: 30px;
}

.printBtn {
	background: #35cf91 !important;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	display: inline-block;
	word-break: normal;
	min-width: 80px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.mainTitle {
	text-align: center;
	font-size: 36px;
	margin-top: 10px;
}

.checklistCode {
	font-size: 30px;
	padding: 25px 30px 22px;
	text-align: right;
}

.special {
	overflow: hidden;
}

.block {
	display: inline-block;
	width: 100%;
}

.half {
	display: inline-block;
	width: 50%;
	float: left;
}

.bottomLine {
	border-bottom: 3px dashed #1a1a1a;
}

.DisposalAdvice {}

.halfN {
	display: inline-block;
	width: 63%;
	float: right;
}

.DisposalAdviceBottom {
	/* position: relative; */
	/* min-height: 90px; */
	height: auto;
	zoom: 1;
	margin-top:80px;
	text-align: center;
	overflow: hidden;
	/* overflow: hidden; */
}


.marginAuto {
	margin: 0 auto;
	position: relative;
	left: 0;
	right: 0;
	/* float: none; */

}
.content{
	margin-top:120px;
}
.contentTitle{
	margin-top:34px;
	text-align: center;
}

@media print {
	@page {
		size: auto;
		transform: scale(0.875);
		/* auto is the initial value */
		margin: 145px 0px 150px;
		padding: 0;
		/* this affects the margin in the printer settings */
	}

	.allWrap {
		padding: 0px 182px;
	}

	.noPrint {
		display: none;
	}
	.content{
		margin-top :0px;
	}
}