<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>江苏省水路行业安全生产风险管理与隐患治理信息系统</title>
		<link rel="shortcut icon" href="logo1.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="printIt.css" />
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	</head>
	<body>
		<div class="allWrap">
			<input class="printBtn noPrint" type="button" name="" id="" value="打印检查单" @click="printIt()" />
			<div class="mainTitle bottomLine">
				{{d.checkName}}
				<div class="checklistCode">
					检查编号：{{d.checklistCode}}
				</div>
			</div>

			<div class="special bottomLine p19_0" v-if="d.checkSortId==1">
				<span class="half"><b>渡口名称：</b>{{this._value(d.compangInfo.name)}}</span>
				<span class="half"><b>所属乡镇：</b>{{this._value(d.compangInfo.location)}}</span>
				<span class="half"><b>运营人：</b> {{this._value(d.compangInfo.operator)}}</span>
				<span class="half"><b>联系方式：</b>{{this._value(d.compangInfo.operatorPhone)}}</span>
				<span class="half"><b>渡船船名：</b>{{this._value(d.compangInfo.shipsName)}}</span>
				<span class="half"><b>载客定额：</b>{{this._value(d.compangInfo.busload)}}</span>
			</div>

			<div class="publicInfo bottomLine p19_0">
				<span class="block"><b>检查单位：</b>{{this._value(d.msaName)}}</span>
				<span class="block"><b>检查时间：</b>{{this._value(this.getDay(d.uploadTime))}}</span>
				<span class="block"><b>检查方式：</b>{{this._value(InspectionMode)}}</span>
				<span class="block"><b>检查依据：</b>{{this._value(InspectionBasis)}}</span>
				<span class="block"><b>检查结果：</b>符合-{{Number(d.accord)}} 当场纠正-{{Number(d.correctCount)}} 限期整改-{{Number(d.reviewCount)}}
					不适用-{{Number(d.notApplicableCount)}}
				</span>
			</div>

			<div class="DisposalAdvice p19_0">
				<h4>处置意见：</h4>
				<p>一、当场纠正：
					<div class="i2" v-for="(it,i) in w">
						{{i+1}}、{{it.item}}
					</div>
				</p>
				<p>二、限期整改：
					<div class="i2" v-for="(it,i) in e">
						{{i+1}}、{{it.item}}
					</div>
				</p>
				<p class="i2">
					上述问题，运营人应当在<u>{{day}}</u>内整改完毕后申请复查，并在此期限内落实相应的安全措施，防止事故发生。
				</p>
				<p class="i2">
					附件：{{contentTitle}}
				</p>

				<div class="DisposalAdviceBottom">
					<span class="tl marginAuto halfN">
						<span class="block">检查人：{{ this._value(d.name)}}&emsp;{{this._value(d.synergyPerson)}}</span>
						<span class="block">联系电话：{{this._value(d.phone)}}</span>
						<span class="block">单位责任人签名：--</span>
					</span>
				</div>

			</div>
			<div style="page-break-after: always"></div>

			<div class="content">
				<div class="contentTitle">
					{{contentTitle}}
					<div class="contentChecklistCode">
						检查编号：{{d.checklistCode}}
					</div>
				</div>
				<!-- 1 -->
				<div class="bottomLine _strong">
					一、符合项 <span class="rightItem">共{{s.length}}项</span>
				</div>
				<div style="padding: 17px 0px 21px">
					<div class="i2" v-for="(it,i) in s">
						{{i+1}}、{{it.item}}
					</div>
				</div>
				<!-- 2 -->
				<div class="bottomLine _strong">
					二、不符合（当场纠正） <span class="rightItem">共{{w.length}}项</span>
				</div>
				<div style="padding: 17px 0px 21px">
					<div class="" v-for="(it,i) in w" style="padding: 17px 0px 21px">
						{{i+1}}、{{it.item}}
						<p class="i2">检查描述：{{it.troubleDescribe}}</p>
						<p class="i2">地理位置：{{it.location}}</p>
						<div class="i2 oh">现场照片：
							<div class="imgArea">

								<div class="imgWrap" v-for="n in it.picUrl.split(',')">
									<img :src="n" @click="bigger(n)" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="bottomLine _strong">
					三、不符合（限期整改） <span class="rightItem">共{{e.length}}项</span>
				</div>
				<div style="padding: 17px 0px 21px">
					<div class="" v-for="(it,i) in e" style="padding: 17px 0px 21px">
						{{i+1}}、{{it.item}}
						<p class="i2">检查描述：{{it.troubleDescribe}}</p>
						<p class="i2">整改要求：{{it.reviewRequire}}</p>
						<p class="i2">整改限期：{{it.reviewTime}}</p>
						<p class="i2">地理位置：{{it.location}}</p>
						<div class="i2 oh">
							<span style="float: left;">
								现场照片：
							</span>
							<span v-if="!!!it.picUrl" style="text-align:left;margin:0;float: left;text-indent: 0;">无</span>
							<div class="imgArea" v-else>
								<div class="imgWrap" v-for="n in it.picUrl.split(',')">
									<img :src="n" @click="bigger(n)" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="bottomLine _strong">
					四、不适用 <span class="rightItem">共{{n.length}}项</span>
				</div>
				<div style="padding: 17px 0px 21px">
					<div v-for="(it,i) in n">
						{{i+1}}、{{it.item}}
					</div>
				</div>
			</div>

			<div class="biggerImg" @click="imgs()"></div>
		</div>
	</body>
	<script type="text/javascript">
		var urls = location.origin.replace(/www/g, "bm"),
			self;
		new Vue({
			el: '.allWrap',
			data: function() {
				self = this
				return {
					theRequest: {},
					d: {
						compangInfo: {}
					},
					s: [],
					w: [],
					e: [],
					n: [],
					day: "15日",

					InspectionMode: "",
					InspectionBasis: "",

					contentTitle: "内整改完毕后申请复查，并在此期限内落实相应的安全措施，防止事故发生"
				}
			},
			// 方法
			methods: {
				_value: function(d) {
					return !!d ? d : "--"
				},
				get_data: function() {
					var url = location.search;
					var theRequest = new Object();
					if (url.indexOf("?") != -1) {
						var str = url.substr(1);
						strs = str.split("&");
						for (var i = 0; i < strs.length; i++) {
							theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
						}
					}
					this.theRequest = theRequest;
					$.ajax({
						url: urls + '/checklist/listDetailByDetailId',
						data: {
							detailId: theRequest.detailId,
						},
						xhrFields: {
							withCredentials: true
						},
						success: function(y) {
							if (y.code == 200) {
								var dd = y.data.response;
								self.d = dd;
								var s = [],
									N = [],
									w = [],
									e = [];
								for (var i in dd.list) {
									var n = dd.list;
									if (n[i].optionId == 1) {
										s.push(n[i])
									}
									if (n[i].optionId == 2) {
										w.push(n[i])
									}
									if (n[i].optionId == 3) {
										e.push(n[i])
									}
									if (n[i].optionId == 4) {
										N.push(n[i])
									}
								}
								self.s = s;
								self.w = w;
								self.e = e;
								self.n = N;
							} else {
								alert(y.message)
								window.close();
							}
						},
						error: function(e) {

						}
					})
				},
				printIt: function() {
					window.print();
				},
				getDay: function(date) {
					if (date == null || date == "") {
						return "--";
					}

					var weekday = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
						pubtime = new Date(date),
						pubdate = (pubtime.getFullYear()) + "年" +
						(pubtime.getMonth() + 1) + "月" +
						(pubtime.getDate()) + "日 " +
						(pubtime.getHours()) + ":" +
						(pubtime.getMinutes() < 10 ? "0" + pubtime.getMinutes() : pubtime.getMinutes()) + ":" +
						(pubtime.getSeconds() < 10 ? "0" + pubtime.getSeconds() : pubtime.getSeconds()) + "  " + weekday[pubtime.getDay()];
					return pubdate;

				},
				bigger: function(u) {
					$(".biggerImg").css({
						"display": "block",
						height: document.body.clientHeight + "px",
						background: 'rgba(0,0,0,.8) url(' + u + ') no-repeat fixed center/80%'
					})
				},
				imgs: function(urls) {
					$(".biggerImg").css({
						"display": "none",
						height: "0px"
					})
				}

			},
			beforeMount: function() {
				this.get_data();
			},

		})
	</script>
</html>
