html,
body {
	width: 100%;
	/* height:100%;*/
	font-family: '微软雅黑';
	font-size:12px;
}
body {
	background: #f3f3f3;
}
#app {
	background: #f3f3f3;
	overflow: hidden;
}
.title,.piaoju_content2 {
	background: #fff;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
	display: none;
}
.clearfl::after{
	clear: both;
	display: table;
	content:"";
}
* {
	margin: 0;
	padding: 0;
}
a,
button,
input,
optgroup,
select,
textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
	
}
/* #app {
	margin: 0.33rem 0 0;
} */

.time,.timeleft,.timeright {
	font-size: 14px;
	color: #999;
	text-align: right;
	line-height:1.4;
}

.timeleft {
	float:left;
	max-width:70%;
	text-align: left;
}
.timeright {
	float:right;
	text-align: right;
}
.time::after {
	clear: both;
	display: table;
	content:"";
}
.article__content {
	line-height: 1rem;
	font-size: 16px;
	padding-bottom: 20px;
}

.article .article__content p,
.article .article__content li,
.article .article__content span {
	word-wrap: break-word;
	color: #000;
}
.article .article__content p {
	margin-top: 0.3rem;
	line-height: 0.8rem;
}
.title {
	font-size: 12.5px;
	color: #ff6600;
	letter-spacing: 1px;
	position: relative;
	color: #000;
	font-size: 22px;
	font-weight: 600;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}

.container1 {
	padding-top: 1rem;
	box-sizing: border-box;
	height: 100%;
}
.imgnodata {
	position: absolute;
	top: 50%;
	margin-top: -4rem;
	left: 0%;
	width: 100%;
	text-align: center;
	line-height: 1rem;
	color: #999;
}
.widthImg {
	text-align: center;
}
.pataimg {
	max-width:100%;
	min-width:50%;
	display: inline-block;
	height:auto;
}

.piaoju_content2 .left {
	color:#565656;
	display: block;
	width:100%;
}

.piaoju_content2 .left .basic1 {
	padding-bottom: 10px;
	line-height: 1.4;
	letter-spacing: 1px;
	color:#7d7d7d;
	float: left;
	font-size: 16px;
	width:49%;
}
.piaoju_content2 .left .basic1:nth-child(odd){
	padding-left: 5px;
}
.piaoju_content2 .left .basic1:nth-child(even){
	padding-right: 5px;
	padding-left: 5px;
}

.piaoju_content2 .left .basic1>span {
    color: #999999;
    display: inline-block;
    width: 102px;
    vertical-align: middle;
    float: left;
}
.piaoju_content2 .left .basic1:nth-child(odd) em{
	font-style: normal;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    width: 70%;
	float: left;
	word-break:break-word;
	
}

.piaoju_content2 .left .basic1:nth-child(even) em{
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    width: 70%;
	float: left;
	word-break:break-word;
}
.rightdl>dl {
	float: left;
}
.bottom1{
	margin-left: 5px;
	margin-right: 5px;
	margin-top:5px;
}
.pricematch {
    border-collapse: collapse;
    border: 1px solid #dbdbdb;
	width: 100%;
}
.pricematch tr{
	border: 1px solid #dbdbdb;
}
.pricematch tr{
    background: #fff;
}
.pricematch tr:nth-child(1) {
    background: #53afc9;
}
.pricematch th>div {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    line-height: 1.4 !important;
    position: relative;
}
.pricematch th>div, .pricematch td>div {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.2;
    text-align: center;
    position: relative;
}
.pricematch td>div {
    font-size: 14px;
    word-break: break-word;
}
.tablecell{
	display: table-cell;
}
.a1{
	width:10%; float: left;
	padding-top: 10px !important;
}
.a2{
	width:80%;float: left;
	padding-top: 10px !important;
}
.a3{
	width:10%;float: left;
}
.clss{
	clear: both; display: table; width:0;height:0;

}
